// MENU

.menu {
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 48px 16px;
}

@media screen and (max-width: 1200px) {
  .menu-left {
    display: none;
  }

  .menu-right {
    display: none;
  }
}