// MENU

.menu {
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 48px 16px;
}

@media screen and (max-width: 1200px) {
  .menu-left {
    display: none;
  }

  .menu-right {
    display: none;
  }
}

// CONTAINER

.container {
  // limitando para um container fixo para ficar melhor para trabalhar com
  // várias telas
  max-width: 1220px;

  margin: 0 auto;

  border: 1px solid green;

  padding: 24px 16px;
}